@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  align-items: center;
  column-gap: 1rem;
  color: #FFF;
}

body {
  background-color: #000;
}





