.login-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #222222;
    padding: 173px 55px 55px 55px;
  }

  .wrap-login {
    width: 100%;
    background-image: url("./background.jpg");
    background-size: cover;
    height: 100%;
  }